@import 'tailwindcss';

@font-face {
  font-family: 'Geist:Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.figma.com/font/Geist_wght__1') format('woff2');
}

@font-face {
  font-family: 'Geist:SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.figma.com/font/Geist_wght__1') format('woff2');
}

@font-face {
  font-family: 'Inter:Regular';
  font-style: normal;
  font-weight: 400;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Inter:Italic';
  font-style: italic;
  font-weight: 400;
  src: url('https://static.figma.com/font/Inter_1') format('woff2');
}

@font-face {
  font-family: 'Montserrat:SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('https://static.figma.com/font/Montserrat_wght__2') format('woff2');
}

@font-face {
  font-family: 'Montserrat:Bold';
  font-style: normal;
  font-weight: 700;
  src: url('https://static.figma.com/font/Montserrat_wght__2') format('woff2');
}

html,
body,
#root {
  height: 100%;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
